<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en">
  <head>
    <title>KivaStats - Kiva Statistics</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
      @import url('kiva_stats.css');
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function(){
      });
    </script>
    <script type="text/javascript" src="kiva_stats.js"></script>
  </head>
  <body>
    <div id="content"><!--O content-->
      <div id="info"><!--O info-->
        <h1>Kiva Stats</h1>
        <a href="http://www.kivaworld.com/stats" title="Kiva Stats" target="_blank" id="logo"><img src="kiva_stats.png" alt="Kiva Stats" /></a>
      </div><!--C info-->
      
      <div class="clear"></div><!-- CLEAR -->
    </div><!--C content-->
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-563229-7");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>