/* === application.css === */

*, body, html {
  margin: 0;
  padding: 0;
  font-family: Helvetica,Arial,sans-serif;
  border: 0;
}

a {
  color: #258215;
  text-decoration: none;
  border-bottom: 1px dotted #258215;
  font-weight: bold;
}

.green {
  color: #258215;
  font-weight: bold;
  font-size: 13px;
}

.clear {
  clear: both;
}

h1, p {
  display: block;
  margin: 2 auto;
  width: 300px;
  text-align: center;
  font-size: 14px;
}

h1 {
  display: none;
}

a#logo {
  display: block;
  width: 240px;
  height: 80px;
  margin: 15px auto 5px auto;
  border: 0;
}

a#logo img {
  display: block;
  width: 240px;
  height: 80px;
  border: 0;
}

body {
  width: 100%;
  height: 100%;
/*  background-color: #f6f6f6;*/
  background-color: #fff;
}

#content {
  width: 1000px;
  height: 320px;
  padding: 20px;
  margin: auto;
/*  border: 1px solid #258215;*/
/*  background-color: #fff;*/
}

#info {
  float: left;
  width: 280px;
  height: 320px;
  color: #333;
  font-size: 11px;
}

#thanks {
  width: 220px;
  margin: 30px 0 30px 35px;
}

span.quote {
  display: block;
  height: 20px;
  width: 25px;
  float: left;
  height: 70px;
}

span#open-quote {
  background: url(open.gif) no-repeat top left;
}

span#close-quote {
  background: url(close.gif) no-repeat bottom right;
}

#thanks p#quoted {
  float: left;
  margin: 10px 0;
  width: 170px;
  text-align: center;
  height: 60px;
  font-weight: bold;
  color: #666;
}

#wonsys {
  float: left;
  text-align: right;
  font-size: 11px;
  width: 220px;
}

#lender {
  display: block;
  margin-top: 20px;
  float: left;
  width: 700px;
  min-height: 220px;
  border: 1px solid #258215;
  background-color: #f6f6f6;
}

#lender-info {
  display: block;
  width: 700px;
  min-height: 220px;
}

#lender-info div.info-left {
  float: left;
  width: 150px;
  min-height: 160px;
  margin: 20px 10px 20px 20px;
}

#lender-info div.info-right {
  float: left;
  width: 490px;
  min-height: 160px;
  margin: 20px 20px 20px 10px;
}

div.info-left img {
  display: block;
  width: 140px;
  margin: auto;
}

#lender-info div.info {
  margin: auto;
}

#lender-info p {
  font-size: 12px;
  text-align: justify;
  line-height: 13px;
  color: #333;
  width: 480px;
  margin: 3px 5px;
}

#lender-info p.name {
  font-size: 13px;
  font-weight: bold;
}

#lender-info p.loans {
  font-size: 13px;
  font-weight: bold;
}

#lender-info span.url a {
  font-weight: normal;
  font-size: 11px;  
}

ul#nav {
  float: left;
  margin-left: 280px;
}

ul#nav li {
  float: left;
  display: block;
  font-size: 12px;
  margin: 10px 20px;
}

ul#nav li a {
  display: block;
  font-size: 20px;
  border: 0;
}

#play {
  display: block;
  width: 10px;
  height: 10px;
  background: url(play.gif) no-repeat top left;
}

