<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en">
  <head>
    <title>KivaPeople - People who helps others to achieve their dreams</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style type="text/css" media="all">
      @import url('kiva_people.css');
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
      var data = <%= lenders.to_json %>;
      $(document).ready(function(){
        centerElementOnBrowser('#content');
        $(window).resize(function(){
          centerElementOnBrowser('#content');
        });
        // $('#content').corners("15px");
        $('#lender').corners("15px");
        initialize(data);
        // $('#lenders').scrollable({
        //   size: 4,
        //   vertical: true,
        //   // loop: true,
        //   interval: 3000,
        //   speed: 1500,
        //   keyboard: true,
        //   items: '.lenders'
        // });
      });
    </script>
    <script type="text/javascript" src="kiva_people.js"></script>
  </head>
  <body>
    <div id="content"><!--O content-->
      <div id="info"><!--O info-->
        <h1>Kiva People</h1>
        <a href="http://www.kivaworld.com" title="Kiva People" target="_blank" id="logo"><img src="kiva_people.png" alt="Kiva People" /></a>
        <div id="thanks"><!--O thanks-->
          <span id="open-quote" class="quote"></span>
          <p id="quoted">
            Thanks
            to all people<br />
            who helps others<br />
            to achieve their dreams
          </p>
          <span id="close-quote" class="quote"></span>
          
          <p id="wonsys">
            <!-- <a href="http://matteonodari.com" title="Matteo Nodari" target="_blank">Matteo</a>,  -->
            <!-- <a href="http://finotto.org" title="Michele Finotto" target="_blank">Michele</a>,  -->
            <!-- <a href="http://dallangelo.com" title="Simone Dall'Angelo" target="_blank">Simone</a> &amp;  -->
            <a href="http://wonsys.net" title="Wonsys S.r.l. Home page" target="_blank">Wonsys S.r.l.</a>
          </p>
          <div class="clear"></div><!-- CLEAR -->
        </div><!--C thanks-->
        <!-- <p>Please join our family<br /> -->
          <!-- and contribute to <a href="http://www.kiva.org" title="Kiva.org Home page" target="_blank">Kiva.org</a> -->
        <!-- </p> -->
      </div><!--C info-->
      <div id="lender"><!--O lender-->
        <div id="lender-info"><!--O lender-info-->
        </div><!--C lender-info-->
        <div id="spinner" style="display: none;"><!--O spinner-->
          <img src="spinner.gif" title="spinner" alt="spinner" />
        </div><!--C spinner-->
      </div><!--C lender-->
      <ul id="nav">
        <li><a href="#" title="Previous Lender" onclick="previousLender(); return false;">&laquo;</a></li>
        <li><a href="#" title="Play/Pause" onclick="play_or_pause(); return false;" id="play">p</a></li>
        <li><a href="#" title="Next Lender" onclick="nextLender(); return false;">&raquo;</a></li>
      </ul>
      <img src="" id="preload" style="display: none"/>
      <div class="clear"></div><!-- CLEAR -->
    </div><!--C content-->
    
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-563229-7");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>